@import './reset.scss';
@import './fonts.scss';
@import './assets.scss';

/* setup viewport */
html {
  // @include fullscreenSetup();

  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;

  body {
    @include fullsize();
  }
}
